// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-stack: Open Sans;
$primary-color: #333333;

h1 {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 50px;
}

h2 {
  font: 100% $font-stack;
  color: $primary-color;
}

#input {
  width: 1000px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid grey;
}

.btn {
  background-color: #07689f;
  color: white;
  font: $font-stack;
  font-size: 30px;
  border-radius: 0px 10px 10px 0px;
  height: 54px;
  right: 70px;
  top: 7px;
  position: relative;
}
